*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #1d2630;
    width: 100vw;
    height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    position: relative;
    margin-top: 20px;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
    margin: 10px 0;
}

.name{
    padding: 5px;
    font-size: 20px;
    font-weight: 300;
    color: #1d2630;
    background: white;
    border-radius: 3px;
}

#time{
    width: 40px;
    height: 40px;
    font-size: 24px;
    font-weight: 400;
    color: #1d2630;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

h1{
    color: white;
    font-size: 32px;
    margin-bottom: 10px;
}

.subtitle{
    color: #ccc;
    margin-bottom: 20px;
}

#TextArea{
    width: 60vw;
    border: none;
    resize: none;
    outline: none;
    font-size: 18px;
    color: #1d2630;
    padding: 25px 15px;
    border-radius: 8px;
    margin: 10px;
}

.count{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 60vw;
    border-radius: 8px;
    flex-wrap: wrap;
}

.box{
    background: rgb(212, 46, 212);
    padding: 5px 20px;
    text-align: center;
    border-radius: 8px;
}

button{
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    background:rgb(212, 46, 212);
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    background: rgb(129, 62, 129);
}

p{
    color: #ccc;
}

h5{
    color: white;
    font-size: 32px;
}